### Scaling input features

In [2]:
#import python libraries/packages

# Pandas to handle dataframes
import pandas as pd    

# Import numpy 
import numpy as np

#Import sklearn for normalization function
import sklearn
from sklearn import preprocessing

In [3]:
#CREATE SYNTHETIC DATA that represent Amino acids properties/counts

#param1 int from 0-100
#param2 float from 0-1
#param3 int from 100 to 10,000
param1= list(np.random.randint(low = 0,high=100,size=436))
param2 = list(np.random.random(436))
param3 = list(np.random.randint(low = 100,high=10000,size=436))

In [5]:
#BEFORE normalization
#create dataframe with different value ranges
df = pd.DataFrame(param1,columns=['Feature1'])
df['Feature2'] = param2
df['Feature3'] = param3
df

     Feature1  Feature2  Feature3
0          71  0.443032      5490
1           2  0.394676      3087
2          36  0.076584      4708
3          22  0.492289      1722
4          77  0.401979      3014
..        ...       ...       ...
431        51  0.004902      4793
432        23  0.994487      8964
433        67  0.439584      8488
434        46  0.281917      9710
435        71  0.269016      2387

[436 rows x 3 columns]

#### Min-max normalization to make features scaled from 0-1

In [6]:
#assign input (X) /output (y) features
X= df[['Feature1','Feature2','Feature3']]
#y= df['LOG2FC']

#### RORY: please create a function

In [10]:
X_arr = X.values #returns a numpy array for X (needed to use the min_max_scaler)

X_col_names = list(X.columns.values.tolist()) #get column names to then put back into X_norm

#min-max normalization (rescaling) of input features
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X_arr)
X_norm= pd.DataFrame(X_scaled)

#put back the original column names
X_norm.columns = X_col_names

In [13]:
#AFTER normalization
#dataframe of our normalized input features
X_norm

     Feature1  Feature2  Feature3
0    0.717172  0.443354  0.545022
1    0.020202  0.394818  0.301631
2    0.363636  0.075545  0.465816
3    0.222222  0.492793  0.163375
4    0.777778  0.402148  0.294237
..        ...       ...       ...
431  0.515152  0.003597  0.474425
432  0.232323  0.996856  0.896891
433  0.676768  0.439893  0.848678
434  0.464646  0.281640  0.972450
435  0.717172  0.268692  0.230730

[436 rows x 3 columns]